/* SEARCH BAR */
.container .searchBar input{
    font-family: "Itim", cursive;
    outline: none;
    height: 85%;
    width: 85%;
    background-color: var(--mainColor);
    border: none;
    font-size: 20px;
}
.container .searchBar button{
    background-color: transparent;
    border: none;
}
.container .searchBar button i{
    cursor: pointer;
    color: var(--borderColor);
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}
.container .searchBar button:hover i{
    transform: scale(1.3);
    color: #4F4F4F;
}


.container .weatherCards .main-card .cat{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    transition: transform 0.5s ease;
}
@media (max-width:720px){
    .container .weatherCards .main-card .cat{
        bottom: 0;
    }
}
@media (max-width:385px) {
    .container .weatherCards .main-card .cat svg{
        width: 150px;
    }
    .container .weatherCards .main-card .cat{
        bottom: 20px;
    }
}

.container .weatherCards .main-card .weather-des-card{
    background-color: var(--mainColor);
    height: 300px;
    position: relative;
    top: 80px;
    right: auto;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    box-shadow: var(--boxshadow);
    margin: 0px auto;
    width: 90%;
    max-width: 420px;
    min-width: 380px;
    text-align: center;
}
@media (max-width:480px){
    .container .weatherCards .main-card .weather-des-card{
        min-width: 200px;
    }
}
.container .weatherCards .main-card .weather-des-card p{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
@media (max-width:720px){
    .container .weatherCards .main-card .weather-des-card p{
        font-size: 18px;
    }
}

.container .weatherCards .main-card .weather-des-card .weatherIcon img{
    width: 50%;
}

/* ------------details-------------- */


.container .weatherCards .details .temperature{
    background-color: var(--mainColor);
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 30px;
    padding-left: 20px;
    box-shadow: var(--boxshadow);
}
.container .weatherCards .details .temperature img{
    width: 40px;
}
.container .weatherCards .details .temperature .value{
    font-size: 30px;
}
.container .weatherCards .details .details-grid div{
    background-color: var(--mainColor);
    border-radius: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    box-shadow: var(--boxshadow);
}
.container .weatherCards .details img{
    width: 25px;
}