:root{
    --mainColor: #E0EBFE;
    --fontColor:#4F4F4F;
    --borderColor:#838485;
    font-family: "Itim", cursive;
    --boxshadow:2px 2px 10px #848484;
}
body {
    background: url("images/background.png") repeat-x;
    background-size:cover;
    animation: slideClouds 90s linear infinite;
}
body.dayMode {
    background: url("images/background.png") repeat-x;
    color: #333;
}

/* NIGHT MODE */
body.nightMode{
    background: url("images/background-nightMode2.svg") repeat-x;
    --mainColor: #CCB7E4;
    --fontColor:#4B3F52;
    --borderColor:#838485;
    --boxshadow: 2px 2px 25px rgba(169, 144, 215, 0.7);
    color: var(--fontColor);
}
body.nightMode .searchBar{
    border: none;
    box-shadow: var(--boxshadow);
}

/* SEARCH BAR */

.container .searchBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto 60px;
    text-align: center;
    background-color: var(--mainColor);
    border: 3px solid var(--borderColor);
    border-radius: 50px;
    max-width: 700px;
    height: 40px;
    padding-left: 10px;
}
@media (max-width:385px) {
    .container .searchBar{
        margin-bottom: 15px;
    }
}
.container .searchBar input{
    font-family: "Itim", cursive;
    outline: none;
    height: 85%;
    width: 85%;
    background-color: var(--mainColor);
    border: none;
    font-size: 20px;
}
.container .searchBar i{
    cursor: pointer;
    color: var(--borderColor);
    transition: all 0.2s ease-in-out;
    margin-right: 15px;
}
.container .searchBar i:hover{
    transform: scale(1.3);
    color: #4F4F4F;
}
/* CARDS */

.container .weatherCards{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 20px;
    transition: all 0.5s ease;
}
@media (max-width:768px) {
    .container .weatherCards{
        gap: 10px;
    }
}
@media (max-width:720px) {
    .container .weatherCards{
        flex-direction: column;
        margin: 5px auto;
        max-width: 400px;
        gap: 60px;
    }
}

/* todays */
.container .weatherCards .main-card{
    position: relative;
}
.container .weatherCards .main-card .cat{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    transition: transform 0.5s ease;
}
@media (max-width:720px){
    .container .weatherCards .main-card .cat{
        bottom: 0;
    }
}
@media (max-width:385px) {
    .container .weatherCards .main-card .cat svg{
        width: 150px;
    }
    .container .weatherCards .main-card .cat{
        bottom: 20px;
    }
}

.container .weatherCards .main-card .weather-des-card{
    background-color: var(--mainColor);
    height: 300px;
    position: relative;
    top: 80px;
    right: auto;
    border-radius: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    box-shadow: var(--boxshadow);
    margin: 0px auto;
    width: 90%;
    max-width: 420px;
    min-width: 380px;
    text-align: center;
}
@media (max-width:480px){
    .container .weatherCards .main-card .weather-des-card{
        min-width: 200px;
    }
}
.container .weatherCards .main-card .weather-des-card p{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
@media (max-width:720px){
    .container .weatherCards .main-card .weather-des-card p{
        font-size: 18px;
    }
}

.container .weatherCards .main-card .weather-des-card .weatherIcon img{
    width: 50%;
}

/* -------------------------- */
.container .weatherCards .details{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:720px) {
    .container .weatherCards .details{
        margin: 55px auto;
    }
}
@media (max-width:385px) {
    .container .weatherCards .details {
        width: 90%;
    }
}
.container .weatherCards .details > div{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 50px;
    width: 260px;
    height: 65px;
    box-shadow: var(--boxshadow);
    padding-left: 30px;
    margin-top: 16px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
    min-width: 200px;
}
@media (max-width:385px) {
    .container .weatherCards .details > div{
        width: 90%;
        max-width: 260px;
    }
}
.details > div:not(:last-child):hover{
    transform: scale(1.1);
}
.container .weatherCards .details > div > img{
    height: 30px;
}
.container .weatherCards .details > div > span{
    line-height: 0.5;
    margin-left: 25px;
}

.container .weatherCards .details .sunSetRise {
    background-color: transparent;
    position: relative;
    box-shadow: none;
}

.sunSetRise .sunRise,
.sunSetRise .sunSet {
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 50px;
    box-shadow: var(--boxshadow);
    width: 48%;
    height: 100%;
    position: absolute;
    transition: transform 0.3s ease;
    min-width: 117px;
}
.sunSetRise .sunRise:hover,
.sunSetRise .sunSet:hover{
    transform: scale(1.1);

}
.sunSetRise .sunSet {
    right: 0;
}
.sunSetRise .sunRise {
    left: 0;
}

.sunSetRise img {
    height: 24px;
    margin-left: 20px;
}

.sunSetRise span {
    line-height: 0.5;
    margin-left: 20px;
}
/* ANIMATIONS */
body.nightMode .cat #left-eye-group,
body.nightMode .cat #right-eye-group {
    transform: scale(1.1,0.1);
    animation: none;
}
body.nightMode .cat #left-ear,
body.nightMode .cat #right-ear{
    animation: none;
}
body.nightMode .cat #body{
    animation: sleep 5s linear infinite;
}

#left-eye-group, #right-eye-group {
    transform-origin: center;
    animation: blink 4s infinite;
}
@keyframes sleep {
    0%, 25% ,100%{
        transform: translateY(2px);
    }
    50%, 75% {
        transform: translateY(-2px);
    }
}
@keyframes blink {
    0%, 95%, 100% {
        transform: scaleY(1);
    }
    97% {
        transform: scaleY(0.1);
    }
}
#left-ear{
    transform-origin: bottom right;
    transform-box: fill-box;
    animation: swingLeft 1s infinite ease-in-out;
}
@keyframes swingLeft{
    0%,50%, 100% { transform: rotate(0); }
    25%,75% { transform: rotate(5deg); }
}
#right-ear{
    transform-origin: bottom left;
    transform-box: fill-box;
    animation: swingRight 1s infinite ease-in-out;
}
@keyframes swingRight{
    0%,50%, 100% { transform: rotate(0); }
    25%,75% { transform: rotate(-5deg); }
}


@keyframes slideClouds {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1440px 0;
    }
}